
<%- include("header") -%>
 
    <h1><%= listTitle %></h1>

    <ul style="list-style: none; padding-left: 0px;">

        <% newListItems.forEach((item) => { %>
            <form action="/delete" method="post">
                <div style="display: flex; flex-direction: row; left: 0px;">
                    <input type="checkbox" name="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
                    <li><%= item.name %></li>
                </div>
                <input type="hidden" name="listName" value="<%=listTitle%>">
            </form>
        <% }); %>


    </ul>

    <form action="/" method="post">
        <input type="text" name="newItem">
        <button type="submit" name="list" value=<%= listTitle %>>Add Item</button>
    </form>

    <%- include("footer") -%>